<div class="about-frontend-wrapper">
    <div class="about-frontend-title">
        <h1>Sobre o desenvolvimento</h1>
        <h1>do frontend</h1>
    </div>
    <div class="about-frontend-content">
        <div class="about-frontend-content-step">
            <h3>
                O frontend do projeto foi todo feito em Angular, versão 11.0.7 e Node 15.6.0. Foi utilizado Angular Material para criar a
                maior parte das telas. <br />
                A estrutura foi dividida entre três principais pastas, core, features e shared. Algumas das implementações são interceptors,
                services, singleton services, directives e guards. Também foi configurado eslint com algumas regras recomendadas.
            </h3>
            <img src="assets/imgs/about-frontend/frontend-1.jpg" />
        </div>
        <div class="about-frontend-content-step">
            <h3>
                Inicialmente foi desenvolvimento sem pensar muito em usabilidade e estilização, mais para por em prática as principais
                funcionalidades <br />
                Depois disso pronto, foram realizados alterações e ajustes para melhorar a interface gráfica.
            </h3>
        </div>
        <div class="about-frontend-content-step">
            <h3>Abaixo o antes e depois da tela de listagem de quadros.</h3>
            <img class="evolution" src="assets/imgs/about-frontend/evolution-3.jpg" />
            <img class="evolution" src="assets/imgs/about-frontend/evolution-1.jpg" />
        </div>
        <div class="about-frontend-content-step">
            <h3>Abaixo o antes e depois da tela de gerenciamento do quadro.</h3>
            <img class="evolution" src="assets/imgs/about-frontend/evolution-4.jpg" />
            <img class="evolution" src="assets/imgs/about-frontend/evolution-2.jpg" />
        </div>
        <div class="about-frontend-content-step">
            <h3>Também foram feitos testes automatizados usando Cypress.</h3>
            <img class="full-width" src="assets/imgs/about-frontend/frontend-cypress-1.jpg" />
        </div>
    </div>
</div>
