<div class="about-account-management-wrapper">
    <div class="about-account-management-title">
        <h1>Segurança e praticidade</h1>
        <h1>para suas contas</h1>
    </div>
    <div class="about-account-management-content">
        <div class="about-account-management-content-step">
            <h3>Crie sua conta</h3>
            <img src="assets/imgs/about-account/register-1.jpg" />
        </div>
        <div class="about-account-management-content-step">
            <h3>Realize o login</h3>
            <img src="assets/imgs/about-account/login-1.jpg" />
        </div>
        <div class="about-account-management-content-step">
            <h3>Recupere seu nome de usuário</h3>
            <img src="assets/imgs/about-account/forgot-username-1.jpg" /><br />
            <img src="assets/imgs/about-account/forgot-username-email-1.jpg" />
        </div>
        <div class="about-account-management-content-step">
            <h3>Altere sua senha</h3>
            <img src="assets/imgs/about-account/forgot-password-1.jpg" /><br />
            <img src="assets/imgs/about-account/forgot-password-email-1.jpg" /><br />
            <img src="assets/imgs/about-account/reset-password-1.jpg" /><br />
            <img src="assets/imgs/about-account/reset-password-email-1.jpg" />
        </div>
    </div>
</div>
