<div class="about-board-management-wrapper">
    <div class="about-board-management-title">
        <h1>Dê para suas tarefas</h1>
        <h1>uma casa na nuvem</h1>
    </div>
    <div class="about-board-management-content">
        <div class="about-board-management-content-step">
            <h3>Crie seus quadros</h3>
            <img src="https://imgur.com/Pqjxbur.gif" />
        </div>
        <div class="about-board-management-content-step">
            <h3>Adicione listas ao quadro</h3>
            <img src="https://imgur.com/mV029iS.gif" />
        </div>
        <div class="about-board-management-content-step">
            <h3>Adicione cartões</h3>
            <img src="https://imgur.com/ghwBUpw.gif" />
        </div>
        <div class="about-board-management-content-step">
            <h3>Mova os cartões</h3>
            <img src="https://imgur.com/nbJz3Fk.gif" />
        </div>
        <div class="about-board-management-content-step">
            <h3>Mova as listas</h3>
            <img src="https://imgur.com/Z9uyl2S.gif" />
        </div>
    </div>
</div>
