<div class="about-backend-wrapper">
    <div class="about-backend-title">
        <h1>Sobre o desenvolvimento</h1>
        <h1>do Backend</h1>
    </div>
    <div class="about-backend-content">
        <div class="about-backend-content-step">
            <h3>O backend do projeto foi todo feito em C#, com .NET 5.0. A estrutura é em camadas com uma API REST.</h3>
            <img src="assets/imgs/about-backend/backend-1.jpg" />
        </div>
        <div class="about-backend-content-step">
            <h3>
                O gerenciamento de contas havia sido desenvolvido um modelo próprio, porém, ao chegar em questões sobre segurança de dados
                foi alterado para utilizar o Microsoft Identity. <br />Os princípios do TDD foram seguidos, contando com testes de unidade e
                de integração. Outras metodologias foram implementadas também, como Repository Pattern, CQRS e IoC.
            </h3>
            <img src="assets/imgs/about-backend/backend-tests-1.jpg" />
        </div>
    </div>
</div>
