<div class="about-versioning-wrapper">
    <div class="about-versioning-title">
        <h1>Sobre o versionamento</h1>
    </div>
    <div class="about-versioning-content">
        <div class="about-versioning-content-step">
            <h3>
                Atualmente o projeto está no Azure Devops, nele é utilizado os Boards para gerenciamento de atividades, Repos para
                versionamento e também conta com duas Pipelines (backend e frontend) que são rodadas em Pull Requests.
            </h3>
            <img src="assets/imgs/about-versioning/versioning-1.jpg" /><br />
            <img src="assets/imgs/about-versioning/versioning-2.jpg" /><br />
            <img src="assets/imgs/about-versioning/versioning-3.jpg" /><br />
            <img src="assets/imgs/about-versioning/versioning-4.jpg" />
        </div>
    </div>
</div>
