.about-versioning-wrapper {
    margin: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #040d21;
    width: auto;
    padding-bottom: 100px;
}

.about-versioning-wrapper .about-versioning-title {
    padding-top: 100px;
    padding-left: 100px;
}

.about-versioning-wrapper .about-versioning-title h1 {
    color: #729ba5;
    font-weight: 500;
    font-size: 64px;
}

.about-versioning-wrapper .about-versioning-content {
    padding-top: 20px;
    padding-left: 100px;
}

.about-versioning-wrapper .about-versioning-content .about-versioning-content-step {
    margin: 10px;
}

.about-versioning-wrapper .about-versioning-content .about-versioning-content-step h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}

.about-versioning-wrapper .about-versioning-content .about-versioning-content-step img {
    width: 95%;
}
