<div class="forgot-password-form">
    <div class="forgot-password-form-header">
        <mat-icon [inline]="true">task_alt</mat-icon>
        <h1>Esqueceu a senha?</h1>
    </div>

    <hr />

    <div class="forgot-password-form-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nome de usuário</mat-label>
                <input matInput formControlName="username" />
            </mat-form-field>

            <hr />
            <div class="forgot-password-form-actions">
                <button mat-raised-button color="success" type="submit">Enviar email</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" type="button" [routerLink]="['/account/login']">Lembrou?</button>
            </div>
        </form>
    </div>
</div>
