@import 'assets/scss/_variables';

.todo-board-tile {
    background-color: $todo-button-primary-color;
    margin-bottom: 15px;
    cursor: pointer;
}

.todo-board-tile:hover {
    background-color: $todo-button-primary-color-hover;
}

.todo-board-tile .todo-board-tile-title {
    color: $todo-primary-text-color;
    font-size: 14px;
}
