<div class="about-wrapper">
    <div class="about-header">
        <div class="about-header-icon">
            <mat-icon>task_alt</mat-icon>
        </div>
        <div class="about-header-content">
            <h1>Projeto de PDI</h1>
            <p>Veja como é fácil ter suas tarefas organizadas com o Todo.</p>
        </div>
    </div>

    <div class="about-content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Gerenciamento de Tarefas"><app-about-board-management></app-about-board-management></mat-tab>
            <mat-tab label="Como é o Backend"><app-about-backend></app-about-backend></mat-tab>
            <mat-tab label="Versionamento Devops"><app-about-versioning></app-about-versioning></mat-tab>
            <mat-tab label="Como é o Frontend"><app-about-frontend></app-about-frontend></mat-tab>
            <mat-tab label="Gerenciamento de Contas"><app-about-account-management></app-about-account-management></mat-tab>
        </mat-tab-group>
    </div>
</div>
