<div class="reset-password-form">
    <div class="reset-password-form-header">
        <mat-icon [inline]="true">task_alt</mat-icon>
        <h1>Alterar senha</h1>
    </div>

    <hr />

    <div class="reset-password-form-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nova senha</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" />
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <hr />
            <div class="reset-password-form-actions">
                <button mat-raised-button color="success" type="submit">Confirmar alteração</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" type="button" [routerLink]="['/account/login']">Lembrou?</button>
            </div>
        </form>
    </div>
</div>
