$todo-primary-color: #026aa7;
$todo-primary-text-color: #ffffff;
$todo-button-primary-color: #4e97c2;
$todo-button-primary-color-hover: #3588b9;
$todo-button-secondary-color: #3d99ce;
$todo-button-secondary-color-hover: #52a4d4;
$todo-board-background-color: #0079bf;
